.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5rem;
  margin: 2rem auto;
  margin-top: 5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  justify-content: center;
}
.item {
  padding: 20px;
}
